<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj zamówienie</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Dodaj zamówienie</h1>

<form th:action="@{/orders/save}"
      th:object="${order}"
      method="post">

    Data:
    <input type="date" th:field="*{dataZamowienia}">

    <br><br>

    Status:
    <select th:field="*{status}">
        <option value="NOWE">NOWE</option>
        <option value="W_REALIZACJI">W REALIZACJI</option>
        <option value="ZAKONCZONE">ZAKOŃCZONE</option>
    </select>

    <br><br>

    <b>Produkty:</b>

    <br><br>

    <div th:each="product : ${products}">
        <label>
            <input type="checkbox"
                   th:field="*{products}"
                   th:value="${product.id}">
            <span th:text="${product.nazwa + ' — ' + product.cena + ' zł'}"></span>
        </label>
        <br>
    </div>

    <br>

    <button type="submit">Dodaj zamówienie</button>

</form>

<br><br>

<a href="/">Strona główna</a>

</body>
</html>
