<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj produkt</title>
</head>
<body>

<h1>Dodaj produkt</h1>

<form th:action="@{/products/save}" th:object="${product}" method="post">

    <label>Nazwa:</label>
    <input type="text" th:field="*{nazwa}">
    <span th:if="${#fields.hasErrors('nazwa')}"
          th:errors="*{nazwa}"></span>
    <br><br>

    <label>Opis:</label>
    <input type="text" th:field="*{opis}">
    <span th:if="${#fields.hasErrors('opis')}"
          th:errors="*{opis}"></span>
    <br><br>

    <label>Cena:</label>
    <input type="number" step="0.01" th:field="*{cena}">
    <span th:if="${#fields.hasErrors('cena')}"
          th:errors="*{cena}"></span>
    <br><br>

    <label>Ilość:</label>
    <input type="number" th:field="*{ilosc}">
    <span th:if="${#fields.hasErrors('ilosc')}"
          th:errors="*{ilosc}"></span>
    <br><br>

    <button type="submit">
        Dodaj produkt
    </button>

</form>

<br>

<a href="/products">
    Powrót do listy produktów
</a>

</body>
</html>