<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edytuj produkt</title>
</head>
<body>

<h1>Edytuj produkt</h1>

<form th:action="@{/products/update}" th:object="${product}" method="post">

    <input type="hidden" th:field="*{id}">

    Nazwa:
    <input type="text" th:field="*{nazwa}">
    <br><br>

    Opis:
    <input type="text" th:field="*{opis}">
    <br><br>

    Cena:
    <input type="number" step="0.01" th:field="*{cena}">
    <br><br>

    Ilość:
    <input type="number" th:field="*{ilosc}">
    <br><br>

    <button type="submit">
        Zapisz
    </button>

</form>

</body>
</html>