<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zmiana roli</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Zmień rolę użytkownika</h1>

<form th:action="@{/users/updateRole}"
      th:object="${user}"
      method="post">

    <input type="hidden"
           th:field="*{id}">

    <p>
        <b th:text="${user.imie}"></b>
        <b th:text="${user.nazwisko}"></b>
    </p>

    <select th:field="*{rola}">

        <option value="ADMIN">
            ADMIN
        </option>

        <option value="USER">
            USER
        </option>

        <option value="EMPLOYEE">
            EMPLOYEE
        </option>

    </select>

    <br><br>

    <button type="submit">
        Zapisz
    </button>

</form>

<br><br>

<a href="/users">
    Powrót
</a>

</body>
</html>