<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logowanie</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<center>

    <h1>Logowanie</h1>

    <form th:action="@{/login}" method="post">

        Login:

        <br>

        <input type="text" name="username">

        <br><br>

        Hasło:

        <br>

        <input type="password" name="password">

        <br><br>

        <button type="submit">
            Zaloguj
        </button>

    </form>

    <br><br>

    <a href="/register">
        Nie masz konta? Zarejestruj się
    </a>

    <br><br>

    <p>
        admin / admin
    </p>

    <p>
        user / user
    </p>

    <p>
        employee / employee
    </p>

</center>

</body>
</html>